<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{main-layout :: head}"></div>
    <title>Warehouse Manager Dashboard</title>
</head>
<body>
    <div th:replace="~{main-layout :: header}"></div>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.startsWith('/warehouse-manager/dashboard')} ? 'active' : ''" th:href="@{/warehouse-manager/dashboard}">
                                <i class="fas fa-pallet"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.startsWith('/warehouse-manager/purchase-orders')} ? 'active' : ''" th:href="@{/warehouse-manager/purchase-orders}">
                                <i class="fas fa-file-invoice-dollar"></i>
                                Purchase Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.startsWith('/warehouse-manager/suppliers')} ? 'active' : ''" th:href="@{/warehouse-manager/suppliers}">
                                <i class="fas fa-truck"></i>
                                Manage Suppliers
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 dashboard-main">
                 <div th:replace="${content}"></div>
            </main>
        </div>
    </div>

    <div th:replace="~{main-layout :: (script)}"></div>
</body>
</html>